#time {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

#date {
    font-size: 1.6em;
    font-weight: 500;
    text-transform: uppercase;
}
.bg-violet{
    background-color: #1e2c3b !important;
    color: #fff;
}

/* violet Button */
.btn-violet {
    background-color: #1e2c3b !important;
    color: #fff;
    border-color: #1e2c3b;
    border-style: solid;
}

/* violet Button hover effect */
.btn-violet:hover {
    background-color: #121a29 !important;
    border-color: #121a29;
    color: #fff;
}

/* violet Button focus effect */
.btn-violet:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(140, 4, 24, 0.3);
}

/* violet Button active effect */
.btn-violet:active {
    background-color: #6c0210 !important;
    border-color: #6c0210;
}

/* violet Text */
.text-violet {
    color: #1e2c3b !important;
}

/* violet Text hover effect */
.text-violet:hover {
    color: #121a29 !important;
}

/* violet  btn-Outline */
.btn-outline-violet {
    background: transparent !important;
    color: #1e2c3b;
    border-color: #1e2c3b;
}

/* violet  btn-Outline hover effect */
.btn-outline-violet:hover {
    background-color: #1e2c3b !important;
    color: #fff !important;
    border-color: #1e2c3b;
}

/* violet  btn-Outline focus effect */
.btn-outline-violet:focus {
    outline-color: #1e2c3b;
}

/* violet  btn-Outline active effect */
.btn-outline-violet:active {
    background-color: #1e2c3b !important;
    color: #fff;
    border-color: #1e2c3b;
}

.img-bg {
    background-image: url("...\images\cl-townplaza.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-glass {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.77);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-glass-radius-10 {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.77);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.nav-item .nav-content.collapse{
    position: relative;
    background:#1e2c3b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.sidebar-nav .nav-link i,
.sidebar-nav .nav-link span{
    color: #1e2c3b !important;

}
.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link:focus,
.sidebar-nav .nav-link:hover{
    color: #f6f9ff !important;
    background: #1e2c3b !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sidebar-nav .nav-link.active i,
.sidebar-nav .nav-link.active span,
.sidebar-nav .nav-link:focus i,
.sidebar-nav .nav-link:focus span,
.sidebar-nav .nav-link:hover i,
.sidebar-nav .nav-link:hover span{
    color: #f6f9ff !important;
}
.sidebar-nav .nav-link:focus.collapsed i,.sidebar-nav .nav-link:focus i {
    color: #f6f9ff;
}
.sidebar-nav .nav-link:focus > .nav-content.collapse li a{
    color: #f6f9ff ;
}
.sidebar-nav .nav-link > .nav-content.collapse li a {
    color: #fff ;
}
.nav-content.collapse li a {
    color: white;
}
.sidebar-nav .nav-link.collapse{
    background: #f6f9ff !important;
}
.nav-content.collapse li:hover a, .nav-content.collapse li.collapse-active a{
    color: #1e2c3b !important;
}
.nav-content.collapse li:hover,.nav-content.collapse li.collapse-active{
    background-color: #fff !important;
}
.nav-content.collapse li{
    border-radius: 4px;
    margin-bottom: 5px;
}
.row-gap-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
